#page-perfil {
  width: 100vw;
  height: 100vh;
}

#page-perfil .page-header .header-content {
  margin-bottom: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-perfil main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-perfil main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-perfil main label {
  color: var(--color-complement);
}

#page-perfil main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-perfil main fieldset .input-block + textarea-block,
#page-perfil main fieldset .select-block + input-block {
  margin-top: 2.4rem;
}

#page-perfil main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-perfil main footer {
  padding: 4rem 2.4rem;
  background: var(--color-box-footer) 0.4rem;
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
}

#page-perfil main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
}

#page-perfil main footer p img {
  margin-right: 2rem;
}

#page-perfil main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#legend-button {
  color: black;
}

#page-perfil main footer button:hover {
  background: var(--color-secundary-dark);
}

#page-perfil main fieldset legend button {
  background: none;
  border: 0;
  color: var(--color-primary) !important;
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
  margin-top: 0px;
}

#page-perfil main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

#delete-button {
  color: red !important;
  background: none !important;
  width: 100%;
  height: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 700px) {
  #page-perfil {
    max-width: 100vw;
  }

  #page-perfil .page-header .header-content {
    margin-bottom: 0;
  }

  #page-perfil main fieldset {
    padding: 0 6.4rem;
  }

  #page-perfil main .schedule-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }

  #page-perfil main .schedule-item .input-block {
    margin-top: 0 !important;
  }

  #page-perfil main footer {
    padding: 4 0rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #page-perfil main footer p {
    justify-content: space-between;
  }

  #page-perfil main footer button {
    width: 20rem;
    margin: 0;
  }
}
