.recovery-success {
  width: 100vw;
  height: 100vh;

  background-color: var(--color-primary);

  display: flex;

  align-items: center;
  justify-content: center;
}

.recovery-success .recovery-background {
  background-image: url('../../../assets/images/success-background.png');
  background-repeat: no-repeat;
  background-size: contain;

  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.recovery-success .recovery-background h2 {
  color: var(--color-button-text);

  margin-bottom: 1.4rem;
}

.recovery-success .recovery-background p {
  color: var(--color-text-in-primary);

  width: 30%;

  text-align: center;
}

.recovery-success .recovery-background a {
  color: var(--color-button-text);

  text-decoration: none;

  height: 3rem;
}
