#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
  overflow-x: hidden;
}

#page-landing header {
  width: 80%;

  max-width: 1366px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2rem;
}

#page-landing .user-button {
  height: 5rem;

  display: flex;
  align-items: center;
  text-decoration: none;
}

#page-landing .user-button img {
  height: 4rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

#page-landing .user-button h2 {
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--color-text-in-primary);
}

#page-landing header .user-container .user-button img {
  height: 4rem;
}

#page-landing .logout-container {
  width: 4rem;
  height: 4rem;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 0.6rem;
}

#page-landing .logout-container button {
  background: none;

  margin-top: -10px;
}
#page-landing-content {
  max-width: 1366px;
}

#page-landing-content .logo-container {
  display: none;
}

#page-landing-content .hero-image {
  height: 20rem;

  padding: 2rem;

  margin-bottom: 2rem;
}

#page-landing footer {
  background: var(--color-background);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#page-landing footer .footer-wrapper {
  width: 100%;
  max-width: 1500px;

  display: flex;
  flex-direction: row;
}

#page-landing footer .welcome-container {
  display: flex;
  justify-content: space-between;

  margin-top: 5rem;
}

#page-landing footer .welcome-container h1,
h3 {
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--color-text-base);
}

#page-landing footer .welcome-container h3 {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color-text-title);
}

#page-landing footer .welcome-container .total-connections {
  width: 16rem;
  color: var(--color-text-complement);
}

#page-landing footer .buttons-container {
  height: 100%;
  width: 70%;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

#page-landing footer .buttons-container a {
  width: 15rem;
  height: 15rem;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 2rem;

  text-decoration: none;
  color: var(--color-title-in-primary);
  font-weight: bold;
  font-size: 1.8rem;
}

#page-landing footer .buttons-container img {
  margin-bottom: 3rem;
}

#page-landing footer .buttons-container .study {
  margin-left: 5rem;
  margin-right: 2rem;
  background: var(--color-primary);
}

#page-landing footer .buttons-container .give-classes {
  background: var(--color-secundary);
}

@media (min-width: 1150px) {
  #page-landing-content .logo-container {
    display: flex;
  }

  #page-landing {
    height: 100vh;
    overflow: hidden;

    display: flex;
  }

  #page-landing header {
    margin-top: 2rem;
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 80%;
  }

  #page-landing header .user-container .user-button {
    display: flex;
    align-items: center;

    text-decoration: none;
  }

  #page-landing header .user-container .user-button img {
    margin-right: 2rem;
    height: 4rem;
    border-radius: 2rem;
  }

  #page-landing header .user-container .user-button h2 {
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--color-text-in-primary);
  }

  #page-landing header .logout-container .logout {
    width: 4rem;
    height: 4rem;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: var(--color-primary-dark);

    border-radius: 0.6rem;
  }

  #page-landing header .logout-container .logout img {
    height: 2rem;
    padding: 0;
  }

  #page-landing .content-container {
    flex: 1.8;
    display: flex;
    width: 80%;

    justify-content: space-between;
  }

  #page-landing .content-container .logo-container {
    display: flex;
    flex-direction: column;
  }

  #page-landing .content-container .logo-container img {
    margin-top: 6rem;
    height: 10rem;
  }

  #page-landing .content-container .logo-container h2 {
    margin-top: 1rem;
    width: 30rem;

    color: var(--color-text-in-primary);
    font-size: 2.4rem;
  }

  #page-landing-content .hero-image {
    margin-bottom: 6rem;
    height: 30rem;
  }

  #page-landing footer {
    flex-direction: row;
    max-height: 300px;
    width: 100%;
  }

  #page-landing footer .welcome-container {
    margin-left: 15rem;
    width: 100rem;
  }

  #page-landing footer .buttons-container a {
    width: 25rem;
    height: 8rem;

    flex-direction: row;
    align-items: center;

    margin-top: 2rem;

    text-decoration: none;
    color: var(--color-title-in-primary);
    font-weight: bold;
    font-size: 1.8rem;
  }

  #page-landing footer .buttons-container a img {
    margin-right: 3rem;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  #page-landing footer .buttons-container .study {
    margin-right: 5rem;
  }

  #page-landing footer .welcome-container {
    margin-left: 10%;
  }
}

@media (min-height: 900px) {
  #page-landing .content-container {
    align-items: center;
    justify-content: space-between;
  }

  #page-landing .content-container .logo-container img {
    margin-top: 0;
    height: 15rem;
  }

  #page-landing .content-container .logo-container h2 {
    font-size: 3rem;
  }

  #page-landing .content-container img {
    height: 40rem;
  }
}
