.label-float {
  position: relative;

  background-color: var(--color-box-footer);
  /* background-color: black; */

  padding: 0 0.9rem;
  padding-top: 6px;
  border: 1px solid var(--color-line-in-white);
}

.label-float input {
  height: 5rem;
  min-width: 180px;

  margin-left: 0.8rem;

  border: 0;
  outline: none;
  font-size: 14px;
  padding: 0.4rem 0;

  font: 500 1.6rem Poppins;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  border-radius: 0;

  background-color: var(--color-box-footer);
}
.label-float label {
  color: #9c98a6;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 1.5rem;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 10px;
  margin-top: 0;
  color: #c1bccc;
}

.label-float:focus-within::after {
  width: calc(100% - 3.2rem);
  height: 2px;
  content: '';
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
}

.inputIcon {
  position: absolute;
  margin-top: 0.8rem;
  margin-left: -2.6rem;

  width: 2.4rem;
  height: 2.4rem;
}

.label-float button {
  position: absolute;
  display: block;
  background: none;
  margin-top: 0;
  border-radius: 0;
  width: 30px;
  height: 20px;

  top: 0;
  right: 0;
}

.label-float button:hover {
  background: none;
}
