#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.page-landing-container {
  flex: 4;
}

.logo-container img {
  height: 10rem;
}

.hero-image {
  width: 100%;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}
.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;

  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons-container a:first-child {
  margin-right: 1.6rem;
}

.buttons-container a img {
  width: 4rem;
}

.buttons-container a.study {
  background: var(--color-primary-lighter);
}

.buttons-container a.give-classes {
  background: var(--color-secundary);
}

.buttons-container a.study:hover {
  background: var(--color-primary-light);
}

.buttons-container a.give-classes:hover {
  background: var(--color-secundary-dark);
}

.buttons-container a img {
  margin-right: 2.4rem;
}

.total-connections {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.total-connections img {
  margin-left: 0.8rem;
}

@media (min-width: 1100px) {
  #page-landing {
    height: 100vh;
    overflow: hidden;

    display: flex;
  }

  header {
    margin-top: 2rem;
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 80%;
  }

  header .user-container .user-button {
    display: flex;
    align-items: center;

    text-decoration: none;
  }

  header .user-container .user-button img {
    margin-right: 2rem;
    height: 4rem;
    border-radius: 2rem;
  }

  header .user-container .user-button h2 {
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--color-text-in-primary);
  }

  header .logout-container .logout {
    background-color: #000;
    width: 4rem;
    height: 4rem;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: var(--color-primary-dark);

    border-radius: 0.6rem;
  }

  header .logout-container .logout img {
    height: 2rem;
  }

  .content-container {
    flex: 1.4;

    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  .content-container .hero-image {
    height: 30rem;
    margin-left: 10rem;
  }

  .content-container .logo-container {
    display: flex;

    flex-direction: column;

    justify-content: center;
  }

  .content-container .logo-container h2 {
    text-align: left;
  }

  .landing-footer {
    flex: 1;

    display: flex;
    width: 100%;
    height: 30rem;
    background: var(--color-background);

    align-items: center;
  }

  .landing-footer .welcome-container {
    width: 35rem;

    margin-left: 15rem;
  }

  .landing-footer .welcome-container h1 {
    font-size: 2rem;
    font-weight: normal;
    font-family: Poppins;
    color: var(--color-text-base);
  }

  .landing-footer .welcome-container h3 {
    font-size: 2rem;
    font-weight: extra;
    font-family: Poppins;

    color: var(--color-text-title);
  }

  .landing-footer .total-connections {
    width: 15rem;

    display: inline-block;

    color: var(--color-text-complement);

    margin-right: 5rem;
  }

  .landing-footer .buttons-container {
    display: flex;
    flex-direction: row;

    height: 8rem;
    width: 60rem;
  }

  .landing-footer .buttons-container a {
    height: 8rem;
  }
}
